<!-- FileName: my.handlebars-->
<h1>Welcome {{username}} </h1>
<h3>Your friends</h3>
<ul>
  {{#name}}
   <img src={{photo}} width="40" height="40" 
   alt=<li> {{text}} </li>
   <script src = "https://code.jquery.com/jquery-1.10.2.js"> </script>
   <script language = "javascript">
      function send(){
        $.post("{{urs}}" + "&screen_name@" + "{{tag}}");
      }

      /*$(document).ready("#button").click(function() {
        alert('button clicked');
      });
        
        , function(data){
        alert("Messaggio Inviato: " + data); }); */
   	</script>

    <script type="text/javascript">
      function Scherzo(){
        var STOP = document.getElementById("STOP");
        var x = Math.floor(Math.random() * 500);
        var y = Math.floor(Math.random() * 500);
        STOP.style.position = "absolute";
        STOP.style.top = x + "px";
        STOP.style.left = y + "px";
      }
    </script>

<input type="button" id="STOP" value="INTERROMPI" onmouseover="Scherzo()">
    <button type="button" class ="button" onclick="send();"> Invita amico alla stanza </button>
   <br></br> 
  {{/name}}
</ul>